[submodule "2-data-munging-hdf3093"]
	path = 2-data-munging-hdf3093
	url = https://github.com/dbdesign-students-fall2023/2-data-munging-hdf3093
[submodule "3-spreadsheet-analysis-hdf3093"]
	path = 3-spreadsheet-analysis-hdf3093
	url = https://github.com/dbdesign-students-fall2023/3-spreadsheet-analysis-hdf3093
[submodule "4-sql-crud-hdf3093"]
	path = 4-sql-crud-hdf3093
	url = https://github.com/dbdesign-students-fall2023/4-sql-crud-hdf3093
[submodule "5-database-design-hdf3093"]
	path = 5-database-design-hdf3093
	url = https://github.com/dbdesign-students-fall2023/5-database-design-hdf3093
[submodule "6-mongodb-analysis-hdf3093"]
	path = 6-mongodb-analysis-hdf3093
	url = https://github.com/dbdesign-students-fall2023/6-mongodb-analysis-hdf3093
[submodule "7-web-app-hdf3093"]
	path = 7-web-app-hdf3093
	url = https://github.com/dbdesign-students-fall2023/7-web-app-hdf3093
[submodule "8-pandas-exploration-hdf3093"]
	path = 8-pandas-exploration-hdf3093
	url = https://github.com/dbdesign-students-fall2023/8-pandas-exploration-hdf3093
